files: 
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/execute.sh": 
    mode: "000755" 
    owner: root 
    group: root 
    content: |
      #!/bin/bash
       sudo echo "prestart hook" >> /opt/prestart.txt

  "/opt/elasticbeanstalk/hooks/appdeploy/post/execute.sh":
    mode: "000755" 
    owner: root 
    group: root 
    content: |
      #!/bin/bash
       sudo echo "poststart hook" >> /opt/poststart.txt

