files:
  "/opt/elasticbeanstalk/hooks/appdeploy/predeploy/execute.sh":
    mode: "000755" 
    owner: root 
    group: root 
    content: |
      #!/bin/bash
      echo "prestart hook" >> /opt/prestart.txt

  "/opt/elasticbeanstalk/hooks/appdeploy/postdeploy/execute.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "poststart hook" >> /opt/poststart.txt
